* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > button {
    margin-top: 1em;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    row-gap: 1em;
}

.player-display {
    grid-column: 1;
    text-align: center;
    align-self: stretch;
    border: dashed 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.player-container div {
    width: 10em;
}